{% extends 'base.html.twig' %}

{% block title %}Reset Password {% endblock %}

{% block body %}
<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="col">
            <h1>Reset Password</h1>
            {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>

</section>

{% endblock %}