{% extends 'base.html.twig' %}

{% block title %} Reset your password  {% endblock %}

{% block body %}
<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="col">
            <h1>Reset your password </h1>
            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <br>
                <button type="submit" class="btn btn-primary">Submit </button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>

{% endblock %}