{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{reclamation.titre}}</h1>

    {{ include('reponse/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back</a>
{% endblock %}
