{% extends 'base.html.twig' %}

{% block title %} WHy Donate{% endblock %}

{% block body %}
    <h1>Why Donate</h1>
 <section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png')"
        aria-label="hero">
        <div class="container">
          <div class="hero-content">
            <img src="assets/images/blood-icon.png" alt="ICON" width="70" height="70"> 
            <p class="section-subtitle">Red Stream</p>
            <h1 class="h1 hero-title">Why Donate Blood ?</h1>
            <p class="hero-text">
                We need new blood donors from all the background to ensure there is right blood available for patients who needs it. 
                We need:
            <ul style="font-size: larger;" >
                <li>• Atleast 400 donors to meet the present demand</li>
                <li>• Around 1350 donors a year to replace those who can no longer donate</li>
                <li>• 3000 new donors with priority blood types such as O negative every year</li>
                <li>• More young people to start giving blood so we can make sure we have &nbsp;&nbsp;enough blood in the future</li>
            </ul><br><br>
            <p class="section-subtitle" style="color: dimgray;">
                # The most precious gift that one can give to another person is the gift of life i.e. blood. It is the essence of life.<br><br>
                # Your blood saves more than one life when it is separated into its components (red blood cells, plasma etc.).<br><br>
                # Blood is needed regularly for patients with diseases such as thalassemia and hemophilia, and also for the treatment of injuries after an accident, major surgeries, anemia, etc.<br><br>
                # It improves your health.<br><br>
                # Did you know that people who donate blood are 88% less likely to suffer a heart attack and 33% less likely to acquire any type of cardiovascular disease.<br><br>
                # When you donate blood, it removes 225 to 250 milligrams of iron from your body, hence reducing the risk of heart disease.<br><br>
                # Blood Center performs numerous tests on the donated blood. Therefore regular blood donation helps in sheilding you from serious disease<br><br>
            </p>
            </p>
          </div>
          <figure class="hero-banner">
            <img src="./assets/images/whydonate.jpg" width="587" height="839" alt="hero banner" class="w-100"><br>
            <img src="./assets/images/donate-copy.jpg" width="587" height="839" alt="hero banner" class="w-100">
            <img src="./assets/images/whyydonate.jpg" width="587" height="839" alt="hero banner" class="w-100">
          </figure>
        </div>
      </section>
{% endblock %}
