{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
<div class="container1"> <!-- Add the container here -->

    <h1>Create new Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>
{% endblock %}
