{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="form-container">
=======
<div class="container1"> <!-- Add the container here -->

>>>>>>> chiheb+walaa/syrinecopie_branch
=======
<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="form-container">
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
<div class="container1"> <!-- Add the container here -->

>>>>>>> 8b6d46d (Rayen)
    <h1>Create new Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
        </div>
                </div>

</section>
<<<<<<< HEAD
=======
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
>>>>>>> 8b6d46d (Rayen)
{% endblock %}
