{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<div class="container1"> <!-- Add the container here -->

=======
<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="form-container">
>>>>>>> chiheb+walaa
=======
<div class="container1"> <!-- Add the container here -->

>>>>>>> Rayen_Majdoub
=======
<div class="container1"> <!-- Add the container here -->

>>>>>>> 23a1a9b (walaa new commit)
    <h1>Create new Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
        </div>
                </div>

</section>
>>>>>>> chiheb+walaa
=======
>>>>>>> Rayen_Majdoub
=======
>>>>>>> 23a1a9b (walaa new commit)
{% endblock %}
