{% extends 'base.html.twig' %}

{% block title %}New Hospital{% endblock %}


{% block body %}
<div class="container1"> <!-- Add the container here -->
    <h1>Create new Hospital</h1>
<br></br>
    {{ include('hospital/_form.html.twig') }}
<br></br>
{% endblock %}
