<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
{% extends 'base.html.twig' %}
=======
{% extends 'base_admin.html.twig' %}
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
{% extends 'base.html.twig' %}
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
{% extends 'base.html.twig' %}
>>>>>>> 8b6d46d (Rayen)

{% block title %}New EventCategory{% endblock %}

{% block body %}
    <h1>Create new EventCategory</h1>

    {{ include('event_category/_form.html.twig') }}

    <a href="{{ path('app_event_category_index') }}">back to list</a>
{% endblock %}
