{% extends 'base.html.twig' %}

{% block title %}New BloodTransaction{% endblock %}

{% block body %}
<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="form-container">
        <div class="form-container">
    <h1>Create new BloodTransaction</h1>

    {{ include('blood_transaction/_form.html.twig') }}
    <br>

        <br>

    </div>
    </div>
       </div>
</section>
{% endblock %}
