<<<<<<< HEAD
<<<<<<< HEAD
{% extends 'base.html.twig' %}
=======
{% extends 'base_admin.html.twig' %}
>>>>>>> 8b6d46d (Rayen)
=======
{% extends 'base.html.twig' %}
>>>>>>> 0ef8c57 (Rayen_Majdoub)

{% block title %}New BloodTransaction{% endblock %}

{% block body %}
<<<<<<< HEAD
<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="form-container">
        <div class="form-container">
    <h1>Create new BloodTransaction</h1>

    {{ include('blood_transaction/_form.html.twig') }}
    <br>

        <br>

    </div>
    </div>
       </div>
</section>
=======
    <h1>Create new BloodTransaction</h1>

    {{ include('blood_transaction/_form.html.twig') }}

    <a href="{{ path('app_blood_transaction_index') }}">back to list</a>
>>>>>>> 175bd6f (changes)
{% endblock %}
