<<<<<<< HEAD
{% extends 'base.html.twig' %}
=======
{% extends 'base_admin.html.twig' %}
>>>>>>> Rayen_Majdoub

{% block title %}New BloodStock{% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="container1"> <!-- Add the container here -->

=======
>>>>>>> Rayen_Majdoub
    <h1>Create new BloodStock</h1>

    {{ include('blood_stock/_form.html.twig') }}

    <a href="{{ path('app_blood_stock_index') }}">back to list</a>
{% endblock %}
<<<<<<< HEAD
=======

>>>>>>> Rayen_Majdoub
