{% extends 'base.html.twig' %}
<<<<<<< HEAD
=======
{% extends 'base_admin.html.twig' %}
>>>>>>> 8b6d46d (Rayen)
=======
>>>>>>> 175bd6f (changes)

{% block title %}New BloodStock{% endblock %}

{% block body %}
<div class="container1"> <!-- Add the container here -->

<<<<<<< HEAD
=======
>>>>>>> 8b6d46d (Rayen)
=======
>>>>>>> 175bd6f (changes)
    <h1>Create new BloodStock</h1>

    {{ include('blood_stock/_form.html.twig') }}

    <a href="{{ path('app_blood_stock_index') }}">back to list</a>
{% endblock %}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 8b6d46d (Rayen)
=======
>>>>>>> 175bd6f (changes)
