{# templates/user/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container1">
<h2>Edit User</h2>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Save</button>
{{ form_end(form) }}

<a href="{{ path('user_show', {'id': user.id}) }}">Back to view</a>
{% endblock %}
